@tailwind base;
@tailwind components;
@tailwind utilities;

/* base 스타일 재구성 */
@layer base {
  button {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-not-allowed;
  }

  abbr[title] {
    @apply cursor-help no-underline;
  }
}

@layer components {
  .button {
    @apply px-4
	    py-2
	    rounded-sm
	    bg-slate-700
	    text-slate-100
	    dark:bg-slate-200
	    dark:text-slate-800;
  }
}

@layer utilities {
  .text-pesto-100 {
    color: #e8e4d6;
  }
  .text-pesto-200 {
    color: #d1caac;
  }
  .text-pesto-300 {
    color: #bbaf83;
  }
  .text-pesto-400 {
    color: #a49559;
  }
  .text-pesto-500 {
    color: #8d7a30;
  }
  .text-pesto-600 {
    color: #716226;
  }
  .text-pesto-700 {
    color: #55491d;
  }
  .text-pesto-800 {
    color: #383113;
  }
  .text-pesto-900 {
    color: #1c180a;
  }
  .bg-pesto-100 {
    background-color: #e8e4d6;
  }
  .bg-pesto-200 {
    background-color: #d1caac;
  }
  .bg-pesto-300 {
    background-color: #bbaf83;
  }
  .bg-pesto-400 {
    background-color: #a49559;
  }
  .bg-pesto-500 {
    background-color: #8d7a30;
  }
  .bg-pesto-600 {
    background-color: #716226;
  }
  .bg-pesto-700 {
    background-color: #55491d;
  }
  .bg-pesto-800 {
    background-color: #383113;
  }
  .bg-pesto-900 {
    background-color: #1c180a;
  }
}

/* 스타일 재사용 */
.avatar-card {
  @apply w-[290px] bg-white flex flex-col md:grid md:grid-cols-[120px_1fr] md:w-[500px] items-center rounded-lg shadow-xl p-5 gap-5;
  .avatar-card__image {
    @apply w-20 h-20 hover:border-4 hover:border-solid hover:border-yellow-700 rounded-full;
  }

  .avatar-card__caption {
    @apply space-y-4;

    strong {
      @apply text-gray-700 text-2xl;
    }

    a {
      @apply text-cyan-600 active:text-red-500 focus:outline-none focus:ring-2 focus:ring-yellow-700 focus:ring-offset-2 focus:rounded-md font-semibold text-sm inline-block;
    }
  }
}
