<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>크림(Kream) 원자/분자 컴포넌트</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <meta property="og:title" content="이듬(EUID)" />
    <meta property="og:url" content="https://likelion.net/" />
    <meta property="og:image" content="/src/assets/cover/euid-cover.png" />
    <meta property="og:image:alt" content="함께 성장하는 바른 교육 이듬과 멋사의 만남 - https://likelion.net/" />
    <meta
      property="og:description"
      content="이듬 교육이 지향하는 비전은 동반 성장에 있습니다. 강사에서 수강생으로 한 방향으로 흘러가는 지식 전달이 아닌, 함께 공감하고 이해하며 경험하는 교육 가치를 통해 공동의 혁신을 이끌어내는 것을 목표로 합니다."
    />
    <link rel="stylesheet" href="/src/pages/css/index.css" />
  </head>
  <body class="bg-kream-white text-kream-primary dark:bg-kream-primary dark:text-kream-white m-10 font-pretendard">
    <b class="block">로고</b>
    <div class="kream--components">
      <a href="/" class="kream--logo inline-flex align-middle">
        <svg class="block" xmlns="http://www.w3.org/2000/svg" width="134" height="22" viewBox="0 0 134 22" fill="none">
          <title>크림</title>
          <path
            d="M107.536 0.288574L101.235 21.7118H107.956L111.737 9.73998L113.627 18.3513H117.408L124.339 9.73998L120.978 21.5017H127.699L134 0.288574H126.649L118.458 10.16H117.408L115.097 0.288574H107.536Z"
            fill="currentColor"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M73.931 21.5017L74.7712 18.3512L88.0031 0.498535H96.8244L99.3448 18.3512L98.2947 21.5017H92.2038L91.9937 18.3512H82.9624L80.8621 21.5017H73.931ZM86.7429 12.8904H91.5737L91.1536 6.37941L86.7429 12.8904Z"
            fill="currentColor"
          />
          <path
            d="M51.4577 21.5017L57.7586 0.498535H77.5016L76.4514 4.06907L73.9311 5.95935H62.7994L62.1693 8.05966H75.1912L73.511 13.7305H60.4891L59.859 15.8308H72.8809L70.9906 21.5017H51.4577Z"
            fill="currentColor"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M31.7147 0.288574L25.6238 21.7118H32.3448L34.6552 13.9406H37.8057L42.2163 21.7118H47.6771L48.9373 18.3513L45.9969 13.9406C47.3271 14.0106 50.1975 13.3525 51.0376 10.16L52.2978 5.53936C52.5779 3.7891 52.4658 0.288574 49.7774 0.288574H31.7147ZM36.9655 5.95942L36.1254 8.68983H44.5267L45.3668 5.95942H36.9655Z"
            fill="currentColor"
          />
          <path
            d="M0 21.7118L6.51097 0.288574H13.232L10.9216 7.8497H15.5423L22.4734 0.288574H28.9843L28.1442 3.43904L21.0031 10.5801L23.5235 18.3513L22.4734 21.7118H17.0125L14.7022 13.7306H9.03135L6.93103 21.7118H0Z"
            fill="currentColor"
          />
        </svg>
      </a>
    </div>
    <hr class="my-5" />

    <b class="block">뱃지</b>
    <div class="kream-components">
      <span class="text-p-sm lg:text-p-md inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">배지 텍스트</span>
      <span class="text-kream-green text-p-sm lg:text-p-md inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">배지 텍스트</span>
      <span class="text-kream-red text-p-sm lg:text-p-md inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">배지 텍스트</span>
      <span class="text-kream-green text-p-sm lg:text-p-md inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor" />
        </svg>
        빠른 배송</span
      >
    </div>

    <b class="block">버튼</b>
    <div class="kream-components">
      <button
        type="button"
        class="hover:bg-kream-green hover:text-kream-white focus:bg-kream-green focus:text-kream-white text-p-sm lg:text-p-md inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle"
      >
        버튼 텍스트
      </button>
      <button type="button" class="text-kream-green text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor" />
        </svg>
        빠른 배송
      </button>
    </div>

    <hr class="my-5" />

    <b class="block">아이콘 버튼</b>
    <div class="kream-components">
      <button type="button" class="inline-flex size-6 items-center justify-center" aria-label="알림">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2008_1954)">
            <path
              d="M12 22C13.1 22 14 21.1 14 20H10C10 21.1 10.9 22 12 22ZM18 16V11C18 7.93 16.37 5.36 13.5 4.68V4C13.5 3.17 12.83 2.5 12 2.5C11.17 2.5 10.5 3.17 10.5 4V4.68C7.64 5.36 6 7.92 6 11V16L4 18V19H20V18L18 16ZM16 17H8V11C8 8.52 9.51 6.5 12 6.5C14.49 6.5 16 8.52 16 11V17Z"
              fill="currentColor"
            />
          </g>
          <defs>
            <clipPath id="clip0_2008_1954">
              <rect width="24" height="24" fill="none" />
            </clipPath>
          </defs>
        </svg>
      </button>
      <button type="button" class="inline-flex size-6 items-center justify-center" aria-label="검색">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <g clip-path="url(#clip0_4020_235)">
            <path
              d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z"
              fill="currentColor"
            />
          </g>
          <defs>
            <clipPath id="clip0_4020_235">
              <rect width="24" height="24" fill="none" />
            </clipPath>
          </defs>
        </svg>
      </button>
      <button type="button" class="inline-flex size-6 items-center justify-center" aria-label="메뉴 열기">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2039_1308)">
            <path d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" fill="currentColor" />
          </g>
          <defs>
            <clipPath id="clip0_2039_1308">
              <rect width="24" height="24" fill="none" />
            </clipPath>
          </defs>
        </svg>
      </button>
    </div>
  </body>
</html>
