<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>크림(Kream) 상품 목록 - Just Dropped</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <meta property="og:title" content="이듬(EUID)" />
    <meta property="og:url" content="https://likelion.net/" />
    <meta property="og:image" content="/src/assets/cover/euid-cover.png" />
    <meta property="og:image:alt" content="함께 성장하는 바른 교육 이듬과 멋사의 만남 - https://likelion.net/" />
    <meta
      property="og:description"
      content="이듬 교육이 지향하는 비전은 동반 성장에 있습니다. 강사에서 수강생으로 한 방향으로 흘러가는 지식 전달이 아닌, 함께 공감하고 이해하며 경험하는 교육 가치를 통해 공동의 혁신을 이끌어내는 것을 목표로 합니다."
    />
    <link rel="stylesheet" href="/src/pages/css/index.css" />
  </head>
  <body class="bg-kream-white text-kream-primary dark:bg-kream-primary dark:text-kream-white font-pretendard">
    <section class="max-container mx-auto p-5">
      <h2 class="flex flex-col">
        <span class="text-h-md font-bold">Just Dropped</span>
        <span class="text-p-md">발매 상품</span>
      </h2>

      <div class="grid grid-cols-[repeat(5,minmax(232px,1fr))] gap-5">
        <article class="flex flex-col gap-3">
          <a href="/" class="contents">
            <div class="flex flex-col">
              <h2 class="text-h-md font-bold">Problemallways</h2>
              <p class="text-p-sm">Problemallways Logo Denim Pocket Camp Cap Blue</p>
            </div>
            <div class="flex gap-1.5">
              <span class="text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">적립</span>
              <span class="text-kream-green text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor" />
                </svg>
                빠른 배송
              </span>
            </div>
            <div class="flex flex-wrap gap-x-3">
              <span class="text-kream-red text-h-md font-bold not-italic">10%<span class="sr-only">할인</span></span>
              <span class="text-p-sm order-1 w-full">구매가</span>
              <span class="text-h-md font-bold">76,500원</span>
            </div>
          </a>
          <div class="relative -order-1">
            <a href="/" class="bg-kream-secondary block rounded-lg">
              <img src="/src/assets/kream/just-dropped/dropped-product-01.webp" alt="" />
            </a>
            <button type="button" class="text-kream-primary absolute bottom-4 right-4 inline-flex size-6 items-center justify-center" aria-label="관심상품 담기">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2006_189)">
                  <path d="M17 3H7C5.9 3 5.01 3.9 5.01 5L5 21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z" fill="currentColor" />
                </g>
                <defs>
                  <clipPath id="clip0_2006_189">
                    <rect width="24" height="24" fill="none" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </article>
        <article class="flex flex-col gap-3">
          <a href="/" class="contents">
            <div class="flex flex-col">
              <h2 class="text-h-md font-bold">Problemallways</h2>
              <p class="text-p-sm">Problemallways Logo Denim Pocket Camp Cap Blue</p>
            </div>
            <div class="flex gap-1.5">
              <span class="text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">적립</span>
              <span class="text-kream-green text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor" />
                </svg>
                빠른 배송
              </span>
            </div>
            <div class="flex flex-wrap gap-x-3">
              <span class="text-kream-red text-h-md font-bold not-italic">10%<span class="sr-only">할인</span></span>
              <span class="text-p-sm order-1 w-full">구매가</span>
              <span class="text-h-md font-bold">76,500원</span>
            </div>
          </a>
          <div class="relative -order-1">
            <a href="/" class="bg-kream-secondary block rounded-lg">
              <img src="/src/assets/kream/just-dropped/dropped-product-02.webp" alt="" />
            </a>
            <button type="button" class="text-kream-primary absolute bottom-4 right-4 inline-flex size-6 items-center justify-center" aria-label="관심상품 담기">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2006_189)">
                  <path d="M17 3H7C5.9 3 5.01 3.9 5.01 5L5 21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z" fill="currentColor" />
                </g>
                <defs>
                  <clipPath id="clip0_2006_189">
                    <rect width="24" height="24" fill="none" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </article>
        <article class="flex flex-col gap-3">
          <a href="/" class="contents">
            <div class="flex flex-col">
              <h2 class="text-h-md font-bold">Problemallways</h2>
              <p class="text-p-sm">Problemallways Logo Denim Pocket Camp Cap Blue</p>
            </div>
            <div class="flex gap-1.5">
              <span class="text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">적립</span>
              <span class="text-kream-green text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor" />
                </svg>
                빠른 배송
              </span>
            </div>
            <div class="flex flex-wrap gap-x-3">
              <span class="text-kream-red text-h-md font-bold not-italic">10%<span class="sr-only">할인</span></span>
              <span class="text-p-sm order-1 w-full">구매가</span>
              <span class="text-h-md font-bold">76,500원</span>
            </div>
          </a>
          <div class="relative -order-1">
            <a href="/" class="bg-kream-secondary block rounded-lg">
              <img src="/src/assets/kream/just-dropped/dropped-product-03.webp" alt="" />
            </a>
            <button type="button" class="text-kream-primary absolute bottom-4 right-4 inline-flex size-6 items-center justify-center" aria-label="관심상품 담기">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2006_189)">
                  <path d="M17 3H7C5.9 3 5.01 3.9 5.01 5L5 21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z" fill="currentColor" />
                </g>
                <defs>
                  <clipPath id="clip0_2006_189">
                    <rect width="24" height="24" fill="none" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </article>
        <article class="flex flex-col gap-3">
          <a href="/" class="contents">
            <div class="flex flex-col">
              <h2 class="text-h-md font-bold">Problemallways</h2>
              <p class="text-p-sm">Problemallways Logo Denim Pocket Camp Cap Blue</p>
            </div>
            <div class="flex gap-1.5">
              <span class="text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">적립</span>
              <span class="text-kream-green text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor" />
                </svg>
                빠른 배송
              </span>
            </div>
            <div class="flex flex-wrap gap-x-3">
              <span class="text-kream-red text-h-md font-bold not-italic">10%<span class="sr-only">할인</span></span>
              <span class="text-p-sm order-1 w-full">구매가</span>
              <span class="text-h-md font-bold">76,500원</span>
            </div>
          </a>
          <div class="relative -order-1">
            <a href="/" class="bg-kream-secondary block rounded-lg">
              <img src="/src/assets/kream/just-dropped/dropped-product-04.webp" alt="" />
            </a>
            <button type="button" class="text-kream-primary absolute bottom-4 right-4 inline-flex size-6 items-center justify-center" aria-label="관심상품 담기">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2006_189)">
                  <path d="M17 3H7C5.9 3 5.01 3.9 5.01 5L5 21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z" fill="currentColor" />
                </g>
                <defs>
                  <clipPath id="clip0_2006_189">
                    <rect width="24" height="24" fill="none" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </article>
        <article class="flex flex-col gap-3">
          <a href="/" class="contents">
            <div class="flex flex-col">
              <h2 class="text-h-md font-bold">Problemallways</h2>
              <p class="text-p-sm">Problemallways Logo Denim Pocket Camp Cap Blue</p>
            </div>
            <div class="flex gap-1.5">
              <span class="text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">적립</span>
              <span class="text-kream-green text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor" />
                </svg>
                빠른 배송
              </span>
            </div>
            <div class="flex flex-wrap gap-x-3">
              <span class="text-kream-red text-h-md font-bold not-italic">10%<span class="sr-only">할인</span></span>
              <span class="text-p-sm order-1 w-full">구매가</span>
              <span class="text-h-md font-bold">76,500원</span>
            </div>
          </a>
          <div class="relative -order-1">
            <a href="/" class="bg-kream-secondary block rounded-lg">
              <img src="/src/assets/kream/just-dropped/dropped-product-05.webp" alt="" />
            </a>
            <button type="button" class="text-kream-primary absolute bottom-4 right-4 inline-flex size-6 items-center justify-center" aria-label="관심상품 담기">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2006_189)">
                  <path d="M17 3H7C5.9 3 5.01 3.9 5.01 5L5 21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z" fill="currentColor" />
                </g>
                <defs>
                  <clipPath id="clip0_2006_189">
                    <rect width="24" height="24" fill="none" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </article>
      </div>
    </section>

    <hr class="my-5" />

    <section class="kream--just-dropped max-container mx-auto">
      <h2 class="mb-7 flex flex-col">
        <span class="text-h-md font-bold">Just Dropped</span>
        <span class="text-p-md">발매 상품</span>
      </h2>
      <ul class="grid grid-cols-[repeat(5,minmax(232px,_1fr))] gap-5">
        <li>
          <article class="flex flex-col gap-3">
            <a href="/" class="contents">
              <div class="flex flex-col">
                <strong class="text-h-md font-bold">Problemallways</strong>
                <p class="text-p-sm">Problemallways Logo Denim Pocket Camp Cap Blue</p>
              </div>
              <div class="flex gap-1.5">
                <span class="text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">적립</span>
                <span class="text-kream-green text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor" />
                  </svg>
                  빠른 배송
                </span>
              </div>
              <div class="flex flex-wrap gap-x-3">
                <span class="text-kream-red text-h-md font-bold not-italic">10%<span class="sr-only">할인</span></span>
                <span class="text-p-sm order-1 w-full">구매가</span>
                <span class="text-h-md font-bold">76,500원</span>
              </div>
            </a>
            <div class="relative -order-1">
              <a href="/" class="bg-kream-secondary block rounded-lg">
                <img src="/src/assets/kream/just-dropped/dropped-product-01.webp" alt="" />
              </a>
              <button type="button" class="text-kream-primary absolute bottom-4 right-4 inline-flex size-6 items-center justify-center" aria-label="관심상품 담기">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_2006_189)">
                    <path d="M17 3H7C5.9 3 5.01 3.9 5.01 5L5 21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z" fill="currentColor" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2006_189">
                      <rect width="24" height="24" fill="none" />
                    </clipPath>
                  </defs>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li>
          <article class="flex flex-col gap-3">
            <a href="/" class="contents">
              <div class="flex flex-col">
                <strong class="text-h-md font-bold">Undermycar</strong>
                <p class="text-p-sm">Undermycar Mu.22 Anti Fxxking Logo Play Slim Inner Hood Zip-up Black</p>
              </div>
              <div class="flex gap-1.5">
                <span class="text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">적립</span>
                <span class="text-kream-green text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor" />
                  </svg>
                  빠른 배송
                </span>
              </div>
              <div class="flex flex-wrap gap-x-3">
                <span class="text-p-sm order-1 w-full">구매가</span>
                <span class="text-h-md font-bold">89,000원</span>
              </div>
            </a>
            <div class="relative -order-1">
              <a href="/" class="bg-kream-secondary block rounded-lg">
                <img src="/src/assets/kream/just-dropped/dropped-product-02.webp" alt="" />
              </a>
              <button type="button" class="text-kream-primary absolute bottom-4 right-4 inline-flex size-6 items-center justify-center" aria-label="관심상품 담기">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_2006_189)">
                    <path d="M17 3H7C5.9 3 5.01 3.9 5.01 5L5 21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z" fill="currentColor" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2006_189">
                      <rect width="24" height="24" fill="none" />
                    </clipPath>
                  </defs>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li>
          <article class="flex flex-col gap-3">
            <a href="/" class="contents">
              <div class="flex flex-col">
                <strong class="text-h-md font-bold">Supreme</strong>
                <p class="text-p-sm">Supreme Ultrasuede Mesh Baseball Jersey Navy - 24SS</p>
              </div>
              <div class="flex gap-1.5">
                <span class="text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">적립</span>
                <span class="text-kream-green text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor" />
                  </svg>
                  빠른 배송
                </span>
              </div>
              <div class="flex flex-wrap gap-x-3">
                <span class="text-p-sm order-1 w-full">구매가</span>
                <span class="text-h-md font-bold">270,00원</span>
              </div>
            </a>
            <div class="relative -order-1">
              <a href="/" class="bg-kream-secondary block rounded-lg">
                <img src="/src/assets/kream/just-dropped/dropped-product-03.webp" alt="" />
              </a>
              <button type="button" class="text-kream-primary absolute bottom-4 right-4 inline-flex size-6 items-center justify-center" aria-label="관심상품 담기">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_2006_189)">
                    <path d="M17 3H7C5.9 3 5.01 3.9 5.01 5L5 21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z" fill="currentColor" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2006_189">
                      <rect width="24" height="24" fill="none" />
                    </clipPath>
                  </defs>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li>
          <article class="flex flex-col gap-3">
            <a href="/" class="contents">
              <div class="flex flex-col">
                <strong class="text-h-md font-bold">Nike</strong>
                <p class="text-p-sm">Nike x Rayssa Leal SB Dunk Low PRM Pure Platinum Vivid Purple</p>
              </div>
              <div class="flex gap-1.5">
                <span class="text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">적립</span>
                <span class="text-kream-red text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">품절</span>
                <span class="text-kream-green text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor" />
                  </svg>
                  빠른 배송
                </span>
              </div>
              <div class="flex flex-wrap gap-x-3">
                <span class="text-p-sm order-1 w-full">구매가</span>
                <span class="text-h-md font-bold">165,000원</span>
              </div>
            </a>
            <div class="relative -order-1">
              <a href="/" class="bg-kream-secondary block rounded-lg">
                <img src="/src/assets/kream/just-dropped/dropped-product-04.webp" alt="" />
              </a>
              <button type="button" class="text-kream-primary absolute bottom-4 right-4 inline-flex size-6 items-center justify-center" aria-label="관심상품 담기">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_2006_189)">
                    <path d="M17 3H7C5.9 3 5.01 3.9 5.01 5L5 21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z" fill="currentColor" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2006_189">
                      <rect width="24" height="24" fill="none" />
                    </clipPath>
                  </defs>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li>
          <article class="flex flex-col gap-3">
            <a href="/" class="contents">
              <div class="flex flex-col">
                <strong class="text-h-md font-bold">Undermycar</strong>
                <p class="text-p-sm">Undermycar Mu.22 Anti Fxxking Logo Play Slim Inner Hood Zip-up Melange Gray</p>
              </div>
              <div class="flex gap-1.5">
                <span class="text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">적립</span>
                <span class="text-kream-green text-p-sm inline-flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle">
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor" />
                  </svg>
                  빠른 배송
                </span>
              </div>
              <div class="flex flex-wrap gap-x-3">
                <span class="text-p-sm order-1 w-full">구매가</span>
                <span class="text-h-md font-bold">89,000원</span>
              </div>
            </a>
            <div class="relative -order-1">
              <a href="/" class="bg-kream-secondary block rounded-lg">
                <img src="/src/assets/kream/just-dropped/dropped-product-05.webp" alt="" />
              </a>
              <button type="button" class="text-kream-primary absolute bottom-4 right-4 inline-flex size-6 items-center justify-center" aria-label="관심상품 담기">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_2006_189)">
                    <path d="M17 3H7C5.9 3 5.01 3.9 5.01 5L5 21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z" fill="currentColor" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2006_189">
                      <rect width="24" height="24" fill="none" />
                    </clipPath>
                  </defs>
                </svg>
              </button>
            </div>
          </article>
        </li>
      </ul>
    </section>
  </body>
</html>
