<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS</title>
    <link rel="icon" href="/src/assets/favicon/tailwind.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body
    class="flex h-screen items-center justify-center bg-cyan-100 sm:bg-slate-500 md:bg-yellow-700"
  >
    <figure
      class="flex w-96 flex-col items-center gap-5 rounded-lg bg-white p-5 shadow-xl md:flex-row dark:bg-slate-800 dark:text-white"
    >
      <img
        class="h-20 w-20 rounded-full hover:border-4 hover:border-solid hover:border-yellow-700"
        src="/src/assets/face/face1.jpg"
        alt=""
      />
      <figcaption class="space-y-4">
        <strong class="text-2xl text-cyan-500" lang="en"
          >Tailwind
          <abbr class="no-underline" title="Cascading Style Sheet"
            >CSS</abbr
          ></strong
        >
        <p class="">
          다양한 Tailwind CSS의 유틸리티 세트를 활용해 복잡한 컴포넌트를 구성할
          수 있습니다.
        </p>
        <a
          class="inline-block text-sm font-semibold text-cyan-600 focus:rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-700 focus:ring-offset-2 active:text-red-500"
          href="https://tailwindcss.com/docs/utility-first"
          rel="noopener noreferrer"
          target="_blank"
        >
          유틸리티 퍼스트 펀더멘탈
        </a>
      </figcaption>
    </figure>
  </body>
</html>
