<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS</title>
    <link rel="icon" href="/src/assets/favicon/tailwind.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body class="h-screen bg-pink-300 flex justify-center items-center">
    <figure
      class="w-[290px] bg-white flex flex-col md:grid md:grid-cols-[120px_1fr] md:w-[500px] items-center rounded-lg shadow-xl p-5 gap-5"
    >
      <img
        class="w-20 h-20 hover:border-4 hover:border-solid hover:border-yellow-700 rounded-full"
        src="/src/assets/face/face1.jpg"
        alt=""
      />
      <figcaption class="space-y-4">
        <strong class="text-cyan-500 text-2xl" lang="en"
          >Tailwind <abbr class="no-underline" title="Cascading Style Sheet">CSS</abbr></strong
        >
        <p class="">
          다양한 Tailwind CSS의 유틸리티 세트를 활용해 복잡한 컴포넌트를 구성할 수 있습니다.
        </p>
        <a
          class="text-cyan-600 active:text-red-500 focus:outline-none focus:ring-2 focus:ring-yellow-700 focus:ring-offset-2 focus:rounded-sm font-semibold text-sm inline-block"
          href="https://tailwindcss.com/docs/utility-first"
          rel="noopener noreferrer"
          target="_blank"
        >
          유틸리티 퍼스트 펀더멘탈
        </a>
      </figcaption>
    </figure>
  </body>
</html>
