<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>테마 환경 구성</title>
    <link
      rel="preconnect"
      href="https://cdn.jsdelivr.net"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css"
    />
    <link rel="icon" href="/src/assets/favicon/tailwind.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body
    class="font-notoSerif flex h-screen flex-col items-center justify-center gap-8"
  >
    <figure class="avatar-card">
      <img
        class="avatar-card__image"
        src="/src/assets/face/face1.jpg"
        alt=""
        width="64"
        height="64"
      />
      <figcaption class="avatar-card__caption">
        <strong class="3xl:border 3xl:border-red-700" lang="en"
          >Tailwind <abbr title="Cascading Style Sheet">CSS</abbr></strong
        >
        <p>
          다양한 Tailwind CSS의 유틸리티 세트를 활용해 복잡한 컴포넌트를 구성할
          수 있습니다.
        </p>
        <a
          class="button"
          href="https://tailwindcss.com/docs/utility-first"
          rel="noopener noreferrer"
          target="_blank"
        >
          유틸리티 퍼스트 펀더멘탈
        </a>
        <button class="button text-pesto-300" type="button">
          버튼 컴포넌트
        </button>
      </figcaption>
    </figure>
    <p class="font-suit text-white">
      '함께 성장하는 바른 교육' 이듬(EUID)과 멋쟁이 사자처럼 태킷(Techit) 스쿨이
      만났습니다. '이듬' 교육이 지향하는 비전은 동반 성장에 있습니다. 강사에서
      수강생으로 한 방향으로 흘러가는 지식 전달이 아닌, 함께 공감하고 이해하며
      경험하는 교육 가치를 통해 공동의 혁신을 이끌어내는 것을 목표로 합니다.
      멋쟁이 사자처럼 태킷 스쿨은 '함께'의 가치를 중요하게 생각합니다. 5년이
      지나도, 10년이 지나도 IT 업계에 필요한 인재를 육성하는 교육을 제공하고,
      기업의 HRD 파트너로 존재할 것이며 국내 대표 IT 교육 회사인 만큼 더 좋은
      교육이 무엇인지를 끊임없이 고민하는 회사로 자리매김할 것입니다.
    </p>
  </body>
</html>
