<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="icon" href="/src/assets/favicon/tailwind.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body class="bg-violet-300 p-5 font-suit">
    <!-- 배경이미지(checkbox-circle-unchecked.svg) 지정, 형제 요소인 input 요소가 checked 상태일 때 label 요소의 배경이미지가 (checkbox-circle-checked.svg)로 변경되도록 설정 -->
    <div class="inline-flex relative">
      <input
        class="appearance-none peer absolute w-6 h-6"
        type="checkbox"
        name="checkbox-1"
        id="checkbox-1"
      />
      <label
        class="h-6 bg-[url('/src/assets/icon/checkbox-circle-unchecked.svg')] peer-checked:bg-[url('/src/assets/icon/checkbox-circle-checked.svg')] bg-no-repeat pl-10"
        for="checkbox-1"
        >로그인 상태 유지</label
      >
    </div>
    <hr class="my-5" />
    <div class="inline-flex relative">
      <input
        class="appearance-none peer absolute w-6 h-6"
        type="checkbox"
        name="checkbox-2"
        id="checkbox-2"
      />
      <label
        class="h-6 bg-checkbox-unchecked peer-checked:bg-checkbox-checked bg-no-repeat pl-10"
        for="checkbox-2"
        >로그인 상태 유지</label
      >
    </div>

    <!-- <div class="inline-flex">
      <input class="hidden peer" type="checkbox" name="checkbox-1" id="checkbox-1" />
      <label
        class="pl-8 bg-no-repeat peer-checked:bg-[url('/src/assets/icon/checkbox-circle-checked.svg')] bg-[url('/src/assets/icon/checkbox-circle-unchecked.svg')]"
        for="checkbox-1"
        >로그인 상태 유지</label
      >
    </div>
    <hr class="my-5" />
    <div>
      <input type="checkbox" name="checkbox-2" id="checkbox-2" />
      <label for="checkbox-2">로그인 상태 유지</label>
    </div> -->
  </body>
</html>
