<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>애플 푸터</title>
    <link rel="icon" href="/src/assets/favicon/euid.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body class="m-5 bg-slate-300 font-suit">
    <div
      class="lg:colums-5 mt-5 columns-2 border-t border-t-slate-500 pt-5 text-sm text-gray-900 sm:columns-3 md:columns-4"
    >
      <div class="">
        <strong>쇼핑 및 알아보기</strong>
        <ul class="my-4 leading-6">
          <li><a href="/">스토어</a></li>
          <li><a href="/">Mac</a></li>
          <li><a href="/">iPad</a></li>
          <li><a href="/">iPhone</a></li>
          <li><a href="/">Watch</a></li>
          <li><a href="/">AirPods</a></li>
          <li><a href="/">TV 및 홈</a></li>
          <li><a href="/">AirTag</a></li>
          <li><a href="/">액세서리</a></li>
        </ul>
      </div>
      <div>
        <strong>Apple 지갑</strong>
        <ul class="my-4 leading-6">
          <li><a href="/">지갑</a></li>
          <li><a href="/">Apple Pay</a></li>
        </ul>
      </div>
      <div>
        <strong>계정</strong>
        <ul class="my-4 leading-6">
          <li><a href="/">Apple ID 관리</a></li>
          <li><a href="/">Apple Store 계정</a></li>
          <li><a href="/">iClude.com</a></li>
        </ul>
      </div>
      <div>
        <strong>엔터테인먼트</strong>
        <ul class="my-4 leading-6">
          <li><a href="/">Apple One</a></li>
          <li><a href="/">Apple TV+</a></li>
          <li><a href="/">Apple Music</a></li>
          <li><a href="/">Apple Arcade</a></li>
          <li><a href="/">Apple Podcasts</a></li>
          <li><a href="/">Apple Books</a></li>
          <li><a href="/">Apple Store</a></li>
        </ul>
      </div>
      <div>
        <strong>Apple Store</strong>
        <ul class="my-4 leading-6">
          <li><a href="/">매장 찾기</a></li>
          <li><a href="/">Genius Bar</a></li>
          <li><a href="/">Today at Apple</a></li>
          <li><a href="/">그룹 예약</a></li>
          <li><a href="/">Apple 캠프</a></li>
          <li><a href="/">Apple Store 앱</a></li>
          <li><a href="/">인증 리퍼비쉬 제품</a></li>
          <li><a href="/">Apple Trade In</a></li>
          <li><a href="/">할부 방식</a></li>
          <li><a href="/">주문 상태</a></li>
          <li><a href="/">쇼핑 도움말</a></li>
        </ul>
      </div>
      <div>
        <strong>비즈니스</strong>
        <ul class="my-4 leading-6">
          <li><a href="/">Apple과 비즈니스</a></li>
          <li><a href="/">비즈니스를 위한 제품 쇼핑하기</a></li>
        </ul>
      </div>
      <div>
        <strong>교육</strong>
        <ul class="my-4 leading-6">
          <li><a href="/">Apple 교육</a></li>
          <li><a href="/">초중고용 제품 쇼핑하기</a></li>
          <li><a href="/">대학 생활을 위한 제품 쇼핑하기</a></li>
        </ul>
      </div>
      <div>
        <strong>Apple의 가치관</strong>
        <ul class="my-4 leading-6">
          <li><a href="/">손쉬운 사용</a></li>
          <li><a href="/">교육</a></li>
          <li><a href="/">환경</a></li>
          <li><a href="/">개인정보 보호</a></li>
          <li><a href="/">공급망</a></li>
        </ul>
      </div>
      <div>
        <strong>Apple 정보</strong>
        <ul class="my-4 leading-6">
          <li><a href="/">Newsroom</a></li>
          <li><a href="/">Apple 리더십</a></li>
          <li><a href="/">채용 안내</a></li>
          <li><a href="/">윤리 및 규정 준수</a></li>
          <li><a href="/">이벤트</a></li>
          <li><a href="/">일자리 창출</a></li>
          <li><a href="/">Apple 연락처</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
