<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>온라인/오프라인 상태 다지안</title>
    <link rel="icon" href="/src/assets/favicon/tailwind.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
    <script type="module" src="/src/js/changeState.js"></script>
  </head>
  <body class="flex h-screen flex-col items-center justify-center gap-8 font-suit">
    <div>
      <button type="button" class="state-button state-online">
        <!-- 버튼 배경이미지 /src/assets/face/face3.jpg -->
        <span class="state-text"><span class="sr-only">슬비 회원 온라인</span></span>
      </button>
      <hr class="my-5" />
      <!-- 버튼 배경이미지 /src/assets/face/face5.jpg -->
      <button type="button" class="state-button state-offline">
        <span class="state-text"><span class="sr-only">선범 회원 오프라인</span></span>
      </button>
    </div>
  </body>
</html>
