<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아바타 목록</title>
    <link rel="icon" href="/src/assets/favicon/tailwind.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body class="bg-slate-300 font-suit">
    <div class="flex -space-x-20">
      <figure>
        <a class="group" href="/"
          ><img
            class="border-gray-20 relative rounded-full border outline-none hover:z-10 group-focus:z-10"
            src="/src/assets/face/face1.jpg"
            alt="슬비쌤"
        /></a>
      </figure>
      <figure>
        <a class="group" href="/"
          ><img
            class="border-gray-20 relative rounded-full border outline-none hover:z-10 group-focus:z-10"
            src="/src/assets/face/face2.jpg"
            alt="김미리"
        /></a>
      </figure>
      <figure>
        <a class="group" href="/"
          ><img
            class="border-gray-20 relative rounded-full border outline-none hover:z-10 group-focus:z-10"
            src="/src/assets/face/face3.jpg"
            alt="박주현"
        /></a>
      </figure>
      <figure>
        <a class="group" href="/"
          ><img
            class="border-gray-20 relative rounded-full border outline-none hover:z-10 group-focus:z-10"
            src="/src/assets/face/face4.jpg"
            alt="조수현"
        /></a>
      </figure>
      <figure>
        <a class="group" href="/"
          ><img
            class="border-gray-20 relative rounded-full border outline-none hover:z-10 group-focus:z-10"
            src="/src/assets/face/face5.jpg"
            alt="야무쌤"
        /></a>
      </figure>
      <figure>
        <a class="group" href="/"
          ><img
            class="border-gray-20 relative rounded-full border outline-none hover:z-10 group-focus:z-10"
            src="/src/assets/face/face6.jpg"
            alt="범쌤"
        /></a>
      </figure>
      <figure>
        <a class="group" href="/"
          ><img
            class="border-gray-20 relative rounded-full border outline-none hover:z-10 group-focus:z-10"
            src="/src/assets/face/face7.jpg"
            alt="금윤호"
        /></a>
      </figure>
      <figure>
        <a class="group" href="/"
          ><img
            class="border-gray-20 relative rounded-full border outline-none hover:z-10 group-focus:z-10"
            src="/src/assets/face/face8.jpg"
            alt="김태진"
        /></a>
      </figure>
    </div>
  </body>
</html>
